*{
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: #b8c7ce;
}

img{
  position: absolute;
}

img.tao{
  top: 255px;
  left: 74px;
  
}

img.cloud{
  top: 60px;
  left: 108px;
}

.fof{
  position: absolute;
  font-size: 80px;
  top: 75px;
  left: 185px;
  color: #737373;
  font-family: 'Open Sans', sans-serif;
}
.error{
  position: absolute;
  font-size: 45px;
  top: 158px;
  left: 185px;
  color: #ff9933;
  font-family: 'Raleway', sans-serif;
}
.pnf{
  position: absolute;
  font-size: 20px;
  top: 200px;
  left: 185px;
  color: #404040;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5;
  letter-spacing: -2px;
}