*{
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background: url(../img/404.jpg);
  background-size: 100%;
}
img{
  position: absolute;
}
img.tao{
  top: 255px;
  left: 74px;
  
}

img.cloud{
  top: 60px;
  left: 108px;
}
p{
  line-height: 1.2em;
}
h1{
  position: absolute;
  font-size: 80px;
  padding: 67px 0px 0px 185px;
  color: #737373;
  font-family: 'Open Sans', sans-serif;
}
h2{
  position: absolute;
  font-size: 43px;
  padding: 150px 0px 0px 185px;
  color: #ff9933;
  font-family: 'Raleway', sans-serif;
}
h3{
  position: absolute;
  font-size: 20px;
  padding: 195px 0px 0px 185px;
  color: #404040;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5;
  letter-spacing: -2px;
}